html {
  background: #072620 url("../../images/quiz-background.jpg") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

header img {
  border-right: 1px solid white;
}

h1 {
  color: rgba(209, 207, 207, 0.7);
}

main {
  color: white;
}
main h2 {
  border-bottom: 1px solid white;
}

#progressBar {
  background-color: rgba(206, 202, 202, 0.26);
  border-radius: 13px;
}

#progressBar > div {
  background-color: white;
}

#progressSubmitContainer input[type="submit"] {
  background-color: red;
  color: white;
  border: none;
}

/* Loader animation */

.lds-ring {
  margin: 0 auto;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
