html {
  background: green url("../../images/index-background.jpg") no-repeat center
    center fixed;
}

header {
  display: flex;
  justify-content: space-between;
}

#languages ul li img {
  width: 100px;
  height: 50px;
}
