header {
  padding-left: 10rem;
  display: flex;
  align-items: center;
}

header img {
  padding-top: 20px;
  padding-right: 2rem;
  width: 6rem;
}

h1 {
  padding-top: 20px;
  font-size: 3rem;
  margin-left: 2rem;
}

main {
  width: 50%;
  margin: 0 auto;
}
main h2 {
  padding-bottom: 0.7rem;
  font-size: 2.5rem;
  margin-bottom: 0.7rem;
}
main form {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
main #checkboxes {
  width: 50%;
  font-size: 1.3rem;
}

#progressSubmitContainer {
  margin-top: 4rem;
  width: 80%;
  display: flex;
  align-self: flex-end;
}
#progressContainer {
  width: 100%;
}

#progressBar {
  width: 60%;
  border-radius: 13px;
}

#progressBar > div {
  margin-top: 5px;
  width: 13%;
  height: 10px;
  border-radius: 10px;
}

#progressSubmitContainer input[type="submit"] {
  width: 100px;
  height: 30px;
  border: none;
  font-size: 1.5rem;
  font-weight: 900;
}

/* Loader animation */
