/* Header */
header {
	padding: 2.5rem 2rem 0 6rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logoContainer {
	text-align: center;
}
#logoContainer img {
	width: 7rem;
}

#languages p {
	text-align: center;
	margin-bottom: 10px;
}
#languages ul {
	width: 12rem;
	display: flex;
	justify-content: space-between;
}

#languages ul li img {
	width: 30px;
	height: 16px;
}

/* Main */
main {
	text-align: center;
	width: 60%;
	margin: 0 auto;
}

main h1 {
	font-size: 7rem;
	margin-bottom: 20px;
}
#codeInputContainer {
	width: 60%;
	margin: 6rem auto 0 auto;
}
/* Code input */
#codeInputContainer label {
	font-size: 2rem;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

#codeInput {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#codeInput input {
	width: 100%;
	text-align: center;
	font-size: 3rem;
	margin-bottom: 30px;
}
#codeInput button {
	width: 7rem;
	height: 7rem;
	font-size: 2rem;
}

/* Loader animation */

.lds-ring {
	margin: 0 auto;
	width: 80px;
	height: 80px;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #fff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
